 <!DOCTYPE html>
 <html lang="en">

    <%- include('./partials/head.ejs') %>

 <body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Fugiat labore culpa laborum incididunt. Dolor deserunt ullamco ut id irure enim occaecat magna. Deserunt laboris laboris duis duis fugiat magna aliquip consectetur eiusmod est in. Sint eiusmod ipsum tempor id in commodo.</p>
        <p>Fugiat labore culpa laborum incididunt. Dolor deserunt ullamco ut id irure enim occaecat magna. Deserunt laboris laboris duis duis fugiat magna aliquip consectetur eiusmod est in. Sint eiusmod ipsum tempor id in commodo.</p>
        <p>Fugiat labore culpa laborum incididunt. Dolor deserunt ullamco ut id irure enim occaecat magna. Deserunt laboris laboris duis duis fugiat magna aliquip consectetur eiusmod est in. Sint eiusmod ipsum tempor id in commodo.</p>
        
    </div>

    <%- include('./partials/footer.ejs') %>
     
 </body>
 </html>